<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        p I want to play a game.
        ul
            li=gender
            li=age
            li=msg
            li say something!?